<div>

    <input type="text" placeholder="Enter group ID or URL" ng-model="groupLink"/>
    <button class="btn btn-success" ng-click="getGroup()">Get the group!</button>

    <table class="table">
        <th>Name</th>
        <th>URL</th>
        <th>Unique Users</th>
        <th>Follow Users</th>
        <tr>
            <td>{{ groupInfo.name }}</td>
            <td>{{ 'http://soundcloud.com/groups/' + groupInfo.permalink }}</td>
            <td>{{ tracks.length }}</td>
            <td><button class="btn btn-primary">Follow Users</button></td>
        </tr>
    </table>


    <ul>
        <li ng-repeat="track in tracks">{{track.user}}</li>
    </ul>


</div>
