<div>
  <h2>Group Name:  {{ groupInfo.name }} </h2>

  <input type="text" ng-model="groupId"/>
  <button class="btn btn-success" ng-click="getGroup()">Get the group!</button>
  <button class="btn btn-warning" ng-click="removeDuplicates()">Remove Duplicates</button>
  <br>
  <br>

  <input type="text" ng-model="groupLink"/>
  <button class="btn btn-success" ng-click="getGroupFromLink()">Get the group!</button>

  <h2>Unique Users in Group ({{tracks.length}})</h2>
  <ul>
    <li ng-repeat="track in tracks">{{track.user}}</li>
  </ul>


</div>
